# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env

# Model weights
models/fiqa/
models/phrasebank/
models/twitter/
models/finance_news/
models/general_finbert/
models/meta_learner/*.pkl
models/meta_learner/*.pt

# Raw data
data/raw/

# Processed data
data/interim/
data/processed/

# Outputs
outputs/metrics/*.csv
outputs/figures/
outputs/predictions/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/